<h1>Welcome</h1>
<p>Welcome to Movies Story Website</p>
<p>Post and recommendate the best movies you have watch
    and post the story for other to read by the world or completely private to make 
    you own memories
</p>
{{#if user}}

{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left" ></i></i> login with Google</a>
{{/if}}